body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(180deg, #0B0F1A, #1e1b4b);
    color: white;
}

/* LOGIN */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: rgba(255,255,255,0.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    text-align: center;
}

.login-card input {
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

/* APP */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
.header {
    margin-bottom: 20px;
}

/* HERO */
.progress-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* CIRCLE */
.circle {
    position: relative;
    width: 140px;
    height: 140px;
}

svg {
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 10;
    stroke: #1f2937;
}

#circleProgress {
    stroke: #8b7cff;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    transition: 0.5s;
}

.circle div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CATEGORY */
.categories {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.cat {
    padding: 10px 15px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
    cursor: pointer;
}

.cat.active {
    background: #6d5df6;
}

/* INPUT */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: #6d5df6;
    color: white;
    cursor: pointer;
}

/* TASK */
.task-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
}

.circle-check {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.done .circle-check {
    background: #6d5df6;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}